<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explosion0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion1.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,0},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion2.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,0},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion3.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,0},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion4.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,0},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{260,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion5.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,0},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,65},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,65},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion7.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,65},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,65},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion8.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,65},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,65},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion9.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,65},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,65},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion10.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,65},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{260,65},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion11.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,65},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,65},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion12.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,130},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,130},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion13.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,130},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,130},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion14.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,130},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,130},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion15.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,130},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,130},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion16.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,130},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{260,130},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion17.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,130},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,130},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion18.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,195},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,195},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion19.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,195},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,195},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion20.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,195},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,195},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion21.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,195},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,195},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion22.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,195},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{260,195},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion23.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,195},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,195},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion24.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,260},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,260},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion25.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,260},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,260},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion26.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,260},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,260},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion27.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,260},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,260},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion28.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,260},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{260,260},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion29.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,260},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,260},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion30.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,325},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,325},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion31.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,325},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,325},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion32.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,325},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,325},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion33.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,325},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,325},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion34.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,325},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{260,325},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion35.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,325},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,325},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion36.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,390},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,390},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion37.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,390},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,390},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>explosion38.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,390},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,390},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{390,455}</string>
	</dict>
</dict>
</plist>
