<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fpipe-anim0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim2.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim3.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim4.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim5.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{160,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim6.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{192,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim7.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{224,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim8.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim9.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{288,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim10.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{320,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim11.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{352,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim12.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim13.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{416,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim14.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{448,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim15.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{480,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>fpipe-anim16.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,0},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512,0},{32,38}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{544,38}</string>
	</dict>
</dict>
</plist>
