<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player-run-right0.png</key>
		<dict>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{0,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right1.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{32,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right2.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{64,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right3.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{96,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right4.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{128,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right5.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{160,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right6.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{192,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right7.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{224,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right8.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{256,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right9.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{288,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right10.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{320,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
		<key>player-run-right11.png</key>
		<dict>
			<key>originalHeight</key>
			<integer>32</integer>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>sourceSize</key>
			<string>{32,32}</string>
			<key>frame</key>
			<string>{{352,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>size</key>
		<string>{384,32}</string>
		<key>format</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
